<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href={{ css_url }} />
</head>
    <body>
        <h1>Video Metadata Report</h1>
        <div class="card container">
            <div class="row">
                <div class="col-3">
                    <img class="videoImg" src={{ video.img_url }} alt="Avatar">
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col">
                            <h4><b>Filename</b></h4>
                            <p>{{ video.file_name }}</p>
                        </div>
                        <div class="col">
                            <h4><b>Codec</b></h4>
                            {% if video.codec_name|length %}
                            <p>{{ video.codec_name }}</p>
                            {% else %}
                            <p>N/A</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            <h4><b>Codec Timebase</b></h4>
                            {% if video.codec_time_base|length %}
                            <p>{{ video.codec_time_base }}</p>
                            {% else %}
                            <p>N/A</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4><b>Resolution</b></h4>
                            <p>{{ video.width }} x {{ video.height }}</p>
                        </div>
                        <div class="col">
                            <h4><b>Display Ratio</b></h4>
                          {% if video.display_aspect_ratio|length %}
                            <p>{{ video.display_aspect_ratio }}</p>
                          {% else %}
                            <p>N/A</p>
                          {% endif %}
                        </div>
                        <div class="col">
                            <h4><b>Pixel Format</b></h4>
                          {% if video.pix_fmt|length %}
                            <p>{{ video.pix_fmt }}</p>
                          {% else %}
                            <p>N/A</p>
                          {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h4><b>Duration</b></h4>
                          {% if video.duration|length %}
                            <p>{{ video.duration }} s</p>
                          {% else %}
                            <p>N/A</p>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1>Bitrate per Frame</h1>
            {{bitrate_div | safe}}
        <h1>Quantization Parameters per Frame</h1>
            {{qp_div | safe}}
        <h1>QP / Bitrate per Frame</h1>
            {{c_plot | safe}}

        <!-- Video Container -->
        <div class="container">
            <!-- vis video select -->
            <div class="row" id="video-selector-container">
                <div class="col-3">
                    <label for="video-selector">Video Type:</label>
                    <select id="video-selector" class="custom-select">
                        <option value="qp" selected>QP Visualization</option>
                        <option value="bs">Block Structure Visualization</option>
                        <option value="mb-type">Block Type Visualization</option>
                    </select>
                </div>
            </div>

            <!-- qp vis video -->
            <div id="qp-video-container">
                <div class="row">
                    <video class="center" id="qp-video" width="1280" height="720" controls>
                        <source src="./qp_vis.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <!-- block structure vis video -->
            <div id="bs-video-container">
                <div class="row">
                    <video class="center" id="bs-video" width="1280" height="720" controls>
                        <source src="./bs_vis.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <!-- block type vis video -->
            <div id="mb-type-video-container">
                <div class="row">
                    <video class="center" id="mb-type-video" width="1280" height="720" controls>
                        <source src="./b_type_vis.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>

            <!-- button bar -->
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn btn-outline-primary" id="frame-detail-btn">
                        Frame Detail
                    </button>
                </div>
                <div class="center col-6">
                    <button type="button" class="btn btn-outline-primary" id="pre-frame-btn">
                        prev
                    </button>
                    <button type="button" class="btn btn-outline-primary" id="nxt-frame-btn">
                        next
                    </button>
                </div>
            </div>

            <!-- frame detail page -->
            <div id="frame-detail-container">
                <div class="row">
                    <div class="col">
                        <h4><b>PTS</b></h4>
                        <p id="fd-pts">N/A</p>
                    </div>
                    <div class="col">
                        <h4><b>Pixel Format</b></h4>
                        <p id="fd-fmt">N/A</p>
                    </div>
                    <div class="col">
                        <h4><b>Quantization Parameter</b></h4>
                        <p id="fd-qp">N/A</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src={{data_js_url}}></script>
    <script type="text/javascript" src={{js_url}}></script>
</html>